
.btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: var(--text-color-primary);
    padding: 5px;
    margin: 0 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto';
    box-shadow: 0px 1px 3px #999999;

}

.btn:hover:enabled {
    box-shadow: 0px 1px 3px #6b6b6b;
}

.btn:disabled {
    cursor: initial;
    color: #8b8b8b; 
    background-color: #e0e0e0;
}

.mat-input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.mat-input-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.mat-input-field::placeholder {
    color: transparent;
}
  
.mat-input-field:placeholder-shown ~ .mat-input-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

/* zero clue why style breaks if next line changed to mat-input-label */
label[for=ttl-input],
label[for=username-input],
label[for=password-input],
label[for="todo-input"],
.mat-input-field:focus ~ .mat-input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}
  
.mat-input-field:focus ~ .mat-input-label {
    color: var(--primary-color);
}
  
.mat-input-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--primary-color);
}