:root {
    --primary-color: #ff3d00;
    --text-color-primary: #000000;

    --header-height: 60px
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.formline {
    display: flex;
    box-shadow: 0px 1px 5px #999999;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 3px;
    min-width: 400px;
    align-items: center;
    height: 40px;
}

.formline button {
    height: 32px;
    margin-top: 12px;
    white-space: nowrap;
    
}
  
.formline .div-cell {
    flex-grow: 1;
}

.mat-input-group {
    top: -8px;
}